<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom sticky">
    <div class="container">
        <a routerLink="/" class="navbar-brand logo text-uppercase"> 
                <img src="./assets/logo-w.png" alt="logo" class="img-fluid"/>
                <!-- <img src="./assets/logo.png" alt="logo" class="img-fluid logo-dark"/>
                <img src="./assets/logo-w.png" alt="logo" class="img-fluid logo-light"/> -->
         </a>
         
            <div class="nav-button ms-auto">
                <ul class="nav navbar-nav navbar-end">
                    <li><button type="button" class="btn btn-primary navbar-btn btn-rounded">Generate a Quote</button></li>
                </ul>
            </div>
        
    </div>
</nav>