<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5">
                <br />
                <br />
                <img src="https://chkumarpersistent.github.io/insuranceAI/assets/logo.png" class="img-fluid" />
                <h4>END TO END INSURANCE SOLUTIONS</h4>
                <p>Development in progress</p>
                <br />
                <button routerLink="/googleai">Testing Page</button>
            </div>
        </div>
    </div>
</section>