<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-start pull-none">
                    <p class="copy-rights text-muted">2024 © Persistent, All Rights Reserved</p>
                </div>
                <div class="float-end pull-none"><img _ngcontent-ng-c18970571=""
                        src="assets/payment.png" alt="payment-img" height="36"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>